





{% extends 'base2.html' %}


{% block content %}

<div class="container-fluid mt-3">
    
    <div class="row">
        	<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group" style="margin-bottom: 2rem;">

				<a  href="/root_account" class="list-group-item list-group-item-action btn btn-outline-success">Create Admin</a>

                <a style="background-color: #0F1C25; color: white;" href="/root_password" class="list-group-item list-group-item-action btn btn-outline-success ">Password</a>
                
                <a href="/root_account" class="list-group-item list-group-item-action btn btn-outline-success ">Logout</a>


			</div>
		</div>
        
        <div class="col-lg-7 rounded mx-auto border pt-2">
            <div class="text-center col">
            <!--AGREGAR IMAGEN AQUI-->
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center">Root</h3>
            <form action="/root_password" method="POST">
                
                {% csrf_token %}

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}

                {% if good %}
                    <div class="alert alert-success" role="alert">
                        {{good}}
                    </div>
                {% endif %}

                

    

                <!-- old password -->
                <div class="form-group">
                  <div class="form-group">
                    <label for=""> old password</label>
                    <input type="password" name="old_password" 
                     value="" class="form-control form-control-sm"
                    >
                </div>
                  

                <!-- new password -->
                <div class="form-group">
                    <label for="">New password</label>
                    <input type="password" name="new_password" 
                    id=""  class="form-control form-control-sm"
                    >
                </div>
                
                <!-- confirm password -->
                <div class="form-group">
                  <label for="">Confirm password</label>
                  <input type="password" name="confirm_password" 
                  id=""  class="form-control form-control-sm"
                  >
              </div>


                <hr>
                <button type="submit"  class="btn btn-sm btn-success col-lg-12">Save</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}

