{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mt-3" style="background-color: #ffffff;">
    
    <div class="row">
        	<!-- filter -->

		<div class="col-lg-3 mx-auto" >
			<div class="list-group" style="margin-bottom: 2rem;">

				<a style="background-color: #6c757d; color: rgb(0, 0, 0);border-color: #ffffff;border-radius: 0;" href="/account" class="list-group-item list-group-item-action btn btn-outline-success">Cuenta</a>

                <a href="/card" class="list-group-item list-group-item-action btn" style="color: #000000;background-color:rgb(169, 169, 169);border-radius: 0;"> Tarjetas</a>

                <a href="/change_password" class="list-group-item list-group-item-action btn" style="color: #000000; background-color:rgb(169, 169, 169); border-radius: 0;">Contraseña</a>

                

			</div>
		</div>
        
        <div class="col-lg-7 rounded mx-auto border pt-0" style="color: #000000; background-color: rgb(169, 169, 169);">
            <div class="text-center col">
            <!--AGREGAR IMAGEN AQUI-->
          
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert" style="text-align:center;background-color: #000000; color: white;"  >cuenta</h3>
            <form action="/account" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}



                <!-- firstname -->
                <div class="form-group">
                    <label for="">Nombre: </label>
                    <input type="text" name="firstname"
                     id="" value="{{first_name}}" class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Apellido: </label>
                    <input type="text" name="lastname" 
                    id="" value="{{last_name}}" class="form-control form-control-sm"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" name="phone" 
                    id="" class="form-control form-control-sm"
                    value="{{phone}}"
                    placeholder="XXXXXXXXXX"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Correo:</label>
                    <input required type="email" name="email" id=""
                    value="{{email}}" 
                    class=" form-control-sm form-control" placeholder="">
                </div>


                <!-- address -->
                <div class="form-group">
                    <label for="">Direccion:</label>
                    <input required type="text" name="address" id=""
                    class=" form-control-sm form-control" placeholder="" value="{{address}}">
                </div>


                <!-- Description -->
                <div class="form-group">
                    <label for="">Descripción:</label>
                    <input type="text"
                    name="description"
                    id=""
                     class="form-control form-control-sm"
                     value="{{description}}">
                </div>

                <hr>
                <button type="submit" class="btn btn-sm " style="background-color: #000000; color: #ffffff;">Guardar</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}