





{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mt-3">
    
    <div class="row">
        	<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group" style="margin-bottom: 2rem;">

		<a  href="/account" class="list-group-item list-group-item-action btn btn-outline-success" style="background-color: #6c757d; color: rgb(0, 0, 0); border-color: #ffffff; border-radius: 0; padding: 10px;">Cuenta</a>

        <a style="color: #000000;background-color:rgb(169, 169, 169);border-radius: 0;" class="list-group-item list-group-item-action btn btn-outline-success ">Contraseña</a>

        <a href="/card" class="list-group-item list-group-item-action btn btn-outline-success " style="color: #000000; background-color:rgb(169, 169, 169); border-radius: 0;"> Tarjetas</a>

			</div>
		</div>
        
        <div class="col-lg-7 rounded mx-auto border pt-2" style="background-color: #5a5959; color: #ffffff;">
            <div class="text-center col">
            <!--AGREGAR IMAGEN AQUI-->
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success " style="text-align:center; background-color: #000000; border-color: #ffffff;">Cuenta</h3>
            <form action="/change_password" method="POST">
                
                {% csrf_token %}

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {% endif %}

                {% if good %}
                    <div class="alert alert-success" role="alert">
                        {{good}}
                    </div>
                {% endif %}

                

    

                <!-- old password -->
                <div class="form-group">
                  <div class="form-group">
                    <label for=""> Contraseña Vieja</label>
                    <input type="password" name="old_password" 
                     value="" class="form-control form-control-sm"
                    >
                </div>
                  

                <!-- new password -->
                <div class="form-group">
                    <label for="">Nueva Contraseña</label>
                    <input type="password" name="new_password" 
                    id=""  class="form-control form-control-sm"
                    >
                </div>
                
                <!-- confirm password -->
                <div class="form-group">
                  <label for="">Confirmar Contraseña</label>
                  <input type="password" name="confirm_password" 
                  id=""  class="form-control form-control-sm"
                  >
              </div>


                <hr>
                <button type="submit"  class="btn btn-sm btn-success " style="background-color: #000000; border-color: #ffffff;">Guardar</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}

