<!DOCTYPE html>
<html>
<head>
    <title>Selección de tienda en el mapa</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_DE_API&libraries=places"></script>
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <input type="text" id="search-input" placeholder="Buscar tienda">
    
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 51.5074, lng: -0.1278},
                zoom: 12
            });

            var input = document.getElementById('search-input');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();

                if (place.geometry && place.geometry.location) {
                    var marker = new google.maps.Marker({
                        position: place.geometry.location,
                        map: map,
                        title: place.name
                    });

                    map.setCenter(place.geometry.location);
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=TU_CLAVE_DE_API&libraries=places&callback=initMap" async defer></script>
</body>
</html> 